@model IEnumerable<CV_v2.Models.Project>
@{
    ViewBag.Title = "Alla projekt";
}

<h2>Alla Projekt</h2>

<a asp-action="Add" class="btn btn-success mb-3">Lägg till nytt projekt</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Deltagare</th>
            <th>Skapat av</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.User?.Firstname @project.User?.Lastname</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@project.ProjectID" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-projectID="@project.ProjectID" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
