@model IEnumerable<CV_v2.Models.Project>
@{
    ViewBag.Title = "Alla projekt";
}

<h2>Alla Projekt</h2>

<a asp-action="Add" class="btn btn-success mb-3">Lägg till nytt projekt</a>


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Deltagare</th>
            <th>Skapat av</th>
            <th>Hantera projekt</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>
                    @foreach (var user in project.UsersInProject.OrderBy(u => u.User.Lastname).ThenBy(u => u.User.Firstname))
                    {
                        @if (!User.Identity.IsAuthenticated && user.User.IsProfilePrivate)
                        {
                            <span>Privat profil</span>
                            <br />
                        }
                        else
                        {
                            @user.User.Firstname @user.User.Lastname
                            <br />
                        }
                    }
                </td>
                <td>
                    @if (!User.Identity.IsAuthenticated && project.User.IsProfilePrivate)
                    {
                        <span>Privat profil</span>
                    }
                    else
                    {
                        @project.User.Firstname @project.User.Lastname  
                    }
                </td>
                <td>
                    <a asp-action="EditProjects" asp-route-projectID="@project.ProjectID" class="btn btn-warning btn-sm">Redigera projekt</a>

                    <form asp-action="LeaveProject" asp-route-projectId="@project.ProjectID" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Lämna projekt</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
