@model ProfileViewModel

<div class="grid-container">

	<div class="item item-1">
		<div class="p-5 mb-4" style="background-color: #BADEEC; border-radius: .5rem;">
			<div class="container text-center">
				<h2 class="display-4 text-decoration-underline">@Model.User.Firstname @Model.User.Lastname</h2>
				<h4 class="lead">@@ @Model.User.UserName</h4>
				<p>@Model.CV.Description</p>
			</div>
		</div>
	</div>

	<div class="item item-2-1">

		@if (!string.IsNullOrEmpty(Model.CV.PicturePath))
		{
			<img class="profile-pic" src="~/@Model.CV.PicturePath" alt="Profilbild" class="img-fluid" />
		}
		else
		{
			<p>Ingen profilbild uppladdad.</p>
		}

	</div>

	<div class="item item-2-2">
		<h4>Kompetenser</h4>
		<table class="table">
			<tbody>

				@foreach (var competence in Model.CV.Competences)
				{
					<tr>
						<td>@competence.Competences.CompetenceName</td>
					</tr>
				}
			</tbody>
		</table>
	</div>


	<div class="item item-3-1">
		<h4>Utbildningar</h4>
		<table class="table">
			<thead>
			<td>Utbildning</td>
			<td>Skola</td>
			<td>Startdatum</td>
			<td>Slutdatum</td>
			</thead>
			<tbody>

				@foreach (var education in Model.CV.Educations)
				{
					<tr>
						<td>@education.Education.Degree</td>
						<td>@education.Education.SchoolName</td>
						<td>@education.Education.EducationStartDate.ToString("yyyy-MM-dd")</td>
						<td>@education.Education.EducationEndDate.ToString("yyyy-MM-dd")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="item item-3-2">
		<h4>Tidigare erfarenheter</h4>
		<table class="table">
			<thead>
			<td>Arbetstitel</td>
			<td>Beskrivning</td>
			<td>Startdatum</td>
			<td>Slutdatum</td>
			</thead>
			<tbody>

				@foreach (var workExperience in Model.CV.WorkExperiences)
				{
					<tr>
						<td>@workExperience.WorkExperience.WorkTitle</td>
						<td>@workExperience.WorkExperience.Description</td>
						<td>@workExperience.WorkExperience.WorkStartDate.ToString("yyyy-MM-dd")</td>
						<td>@workExperience.WorkExperience.WorkEndDate.ToString("yyyy-MM-dd")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="item item-4">
		<h4>Mina projekt</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titel</th>
					<th>Beskrivning</th>
					<th>Deltagare</th>
					<th>Skapat av</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var project in Model.MyProjects)
				{
					<tr>
						<td>@project.Project.Title</td>
						<td>@project.Project.Description</td>
						<td>
							@foreach (var user in project.Project.UsersInProject.OrderBy(u => u.User.Lastname).ThenBy(u => u.User.Firstname))
							{
								<span>@user.User.Firstname @user.User.Lastname<br /></span>
							}
						</td>
						<td>@project.User?.Firstname @project.User?.Lastname</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div class="item item-5">
		<h4>Kontakta mig</h4>
		<p>Namn: @Model.User.Firstname @Model.User.Lastname</p>
		<p>Adress: @Model.User.Address</p>
		<p>Epost: @Model.User.Email</p>
		@if (!Model.User.UserName.Equals(User.Identity.Name))
		{
			<a asp-action="SendMessage" asp-controller="Message" asp-route-id="@Model.CV.User.UserName">Skicka meddelande</a>
		}
	</div>
</div>
