@model EditProfileViewModel

<h2>Redigera Profil</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label for="Firstname">Förnamn</label>
        <input type="text" class="form-control" id="Firstname" name="Firstname" value="@Model.Firstname" required />
    </div>
    <div class="form-group">
        <label for="Lastname">Efternamn</label>
        <input type="text" class="form-control" id="Lastname" name="Lastname" value="@Model.Lastname" required />
    </div>
    <div class="form-group">
        <label for="Email">E-post</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
    </div>
    <div class="form-group">
		<label for="Address">Adress</label>
		<input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
    <div class="form-group">
        <input type="checkbox" asp-for="IsProfilePrivate" />
        <label for="IsProfilePrivate">Gör profilen privat</label>
    </div>
    <div class="form-group">
        <label for="OldPassword">Gamla lösenordet</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" />
        <!-- Visa felmeddelande för gamla lösenordet om det finns -->
        @if (ViewData.ModelState["OldPassword"]?.Errors.Any() == true)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["OldPassword"].Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
    <div class="form-group">
        <label for="NewPassword">Nytt lösenord</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" />
        <!-- Visa felmeddelande för nya lösenordet om det finns -->
        @if (ViewData.ModelState["NewPassword"]?.Errors.Any() == true)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["NewPassword"].Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
    <div class="form-group">
        <label for="ConfirmNewPassword">Bekräfta nytt lösenord</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" />
        <!-- Visa felmeddelande för bekräftat nytt lösenord om det finns -->
        @if (ViewData.ModelState["ConfirmNewPassword"]?.Errors.Any() == true)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState["ConfirmNewPassword"].Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Spara ändringar</button>
</form>

<br>

<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="pictureFile">Ladda upp profilbild:</label>
        <input type="file" name="pictureFile" id="pictureFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary">Ladda upp bild</button>
</form>
