@model List<CV_v2.Models.User>

<h2>Användare: </h2>

<form asp-controller="User" asp-action="Index" method="get">
    <label for="firstNameFilter">Filtrera på förnamn:</label>
    <input type="text" id="firstNameFilter" name="firstNameFilter" placeholder="Skriv in förnamn" value="@ViewData["FirstNameFilter"]" />
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Email</th>
            <th>Användarnamn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                
            </tr>
        }
    </tbody>
</table>