@model List<CV_v2.Models.User>

<h2>Användare: </h2>

<form asp-controller="User" asp-action="Index" method="get">
    <label for="firstNameFilter">Filtrera på förnamn:</label>
    <input type="text" id="firstNameFilter" name="firstNameFilter" placeholder="Skriv in förnamn" value="@ViewData["FirstNameFilter"]" />
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Email</th>
            <th>Användarnamn</th>
            <th>CV</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (user.CV != null)
                        {
                            <a asp-controller="CV" asp-action="Edit" asp-route-id="@user.CV.CVId" class="btn btn-warning">Redigera CV</a>
                        }
                        else
                        {
                            <a asp-controller="CV" asp-action="Create" asp-route-id="@user.Id" class="btn btn-primary">Skapa CV</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>