@model StartPageViewModel

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form method="post" asp-controller="Account" asp-action="Logout">
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Du är inloggad som @User.Identity.Name</h4>
        <input type="submit" value="Logga ut" />
    }
</form>

@if (!User.Identity.IsAuthenticated)
{
    <a asp-action="Login" asp-controller="Account">Logga in</a>
}

<br />
<br />
<br />

<div class="info-box">
    <h4>Filtrera CVs</h4>
    <p>Här kan du filtrera CVn och få fram alla projekt som den personen ingår i via förnamn. Ange ett namn i sökfältet och tryck på "Filtrera".</p>
    <p>Lämna fältet tomt för att se alla CVn.</p>
</div>
<form asp-controller="Home" asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="firstname" class="form-control" placeholder="Filtrera på förnamn" value="@ViewData["Firstname"]" />
        <button type="submit" class="btn btn-primary">Filtrera</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Kompetenser</th>
            <th>Utbildningar</th>
            <th>Tidigare erfarenheter</th>
            <th>Länk till profilsida</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cv in Model.Cvs)
        {
            <tr>
                <td>@cv.User.Firstname @cv.User.Lastname</td>
                <td>@cv.Description</td>
                <td>
                    @foreach (var competence in cv.Competences)
                    {
                        <span>@competence.Competences.CompetenceName<br /></span>
                    }
                </td>
                <td>
                    @foreach (var education in cv.Educations)
                    {
                        <span>@education.Education.SchoolName @education.Education.Degree<br /></span>
                    }
                </td>
                <td>
                    @foreach (var experience in cv.WorkExperiences)
                    {
                        <span>@experience.WorkExperience.WorkTitle<br /></span>
                    }
                </td>
                <td>
                    <a asp-controller="Profile" asp-action="CVSite" asp-route-username="@cv.User.UserName">Besök profil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
@if (Model.Projects.Any())
{
    <h2>Alla Projekt</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Skapat av</th>
                <th>Titel</th>
                <th>Beskrivning</th>
                <th>Deltagare</th>
                <th>Gå med projekt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects.OrderByDescending(id => id.ProjectID))
            {
                <tr>
                    <td>
                        <span>
                            @if (!User.Identity.IsAuthenticated && project.User.IsProfilePrivate)
                            {
                                <span>Privat profil</span>
                            }
                            else
                            {
                                @project.User.Firstname @project.User.Lastname
                            }
                        </span>
                    </td>
                    <td>@project.User?.Firstname @project.User?.Lastname</td>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                    <td>
                        @foreach (var user in project.UsersInProject.OrderBy(u => u.User.Lastname).ThenBy(u => u.User.Firstname))
                        {
                            <span>
                                @if (!User.Identity.IsAuthenticated && user.User.IsProfilePrivate)
                                {
                                    <span>Privat profil</span>
                                    <br />
                                }
                                else
                                {
                                    @user.User.Firstname @user.User.Lastname
                                    <br />
                                }
                            </span>
                        }
                    </td>
                    <td>
                        <form asp-controller="Project" asp-action="JoinProject" method="post">
                            <input type="hidden" name="projectId" value="@project.ProjectID" />
                            <button type="submit" class="btn btn-primary">Gå med i projekt</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga projekt att visa.</p>
}
