@model IEnumerable<CV_v2.Models.Project>


<form method="post" asp-controller="Account" asp-action="Logout">
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Du är inloggad som @User.Identity.Name</h4>
        <input type="submit" value="Logga ut" />
    }
</form>

@if (!User.Identity.IsAuthenticated)
{
    <a asp-action="Login" asp-controller="Account">Logga in</a>
}



@* ett urval av CVs som är registrerade och länkar till personens profil vars CV det är *@
<br />
<br />
<h2>CVs</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Kompetenser</th>
            <th>Utbildningar</th>
            <th>Tidigare erfarenheter</th>
            <th>Länk till profilsida</th>
        </tr>
    </thead>
    <tbody>
        <td>Förnamn + Efternamn</td>
    <td>CV beskrivning</td>
    <td>Kompetensnamn</td>
    <td>Utbildning skolanamn + utbildningnamn</td>
    <td>Jobbtitel</td>
    @* <td><a asp-controller="Profile" asp-action="CVSite" asp-route-username="@USER">Besök profil</a></td> *@
    </tbody>
</table>



@* information om det senast upplagda projektet som personer kan koppla till sina profiler. *@
<br />
<br />
<h2>Alla Projekt</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Deltagare</th>
            <th>Skapat av</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.OrderByDescending(id => id.ProjectID))
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>
                    @foreach (var user in project.UsersInProject.OrderBy(u => u.User.Lastname).ThenBy(u => u.User.Firstname))
                    {
                        <span>@user.User.Firstname @user.User.Lastname<br /></span>
                    }
                </td>
                <td>@project.User?.Firstname @project.User?.Lastname</td>
            </tr>
        }
    </tbody>
</table>





