@model CV_v2.Models.CV

<h2>Redigera CV</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<p>För att välja flera alternativ i Kompetens, Utbildning och Arbetserfarenhet:</p>
<ul>
    <li>På <strong>Windows</strong>: Håll ner <strong>Ctrl</strong> och klicka på alternativen du vill lägga till med vänster musknapp.</li>
    <li>På <strong>Mac</strong>: Håll ner <strong>Cmd (⌘)</strong> och klicka på alternativen du vill lägga till med vänster musknapp.</li>
</ul>

<form asp-action="Edit" asp-controller="CV" method="post">
    <input type="hidden" asp-for="CVId" />

    <div class="form-group">
        <label for="Description">Beskrivning:</label>
        <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
    </div>

    <div class="form-group">
        <label for="Competences">Kompetenser:</label>
        <select asp-for="Competences" asp-items="@ViewBag.CompetenceOptions" class="form-control" multiple></select>
    </div>

    <div class="form-group">
        <label for="Educations">Utbildning:</label>
        <select asp-for="Educations" asp-items="@ViewBag.EducationOptions" class="form-control" multiple></select>
    </div>

    <div class="form-group">
        <label for="WorkExperiences">Arbetserfarenhet:</label>
        <select asp-for="WorkExperiences" asp-items="@ViewBag.WorkExperienceOptions" class="form-control" multiple></select>
    </div>

    <button type="submit" class="btn btn-success mt-3">Spara ändringar</button>
</form>

<div>
    <a href="@Url.Action("AddCompetence", "CV")" class="btn btn-primary mt-3">Lägg till Kompetens</a>
    <a href="@Url.Action("AddEducation", "CV")" class="btn btn-primary mt-3">Lägg till Utbildning</a>
    <a href="@Url.Action("AddWorkExperience", "CV")" class="btn btn-primary mt-3">Lägg till Arbetserfarenhet</a>
</div>